@font-face{
    font-family: 'Great Vibes';
    src: local('GreatVibes'), url('../fonts/GreatVibes-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'DMMono-Light';
    src: url('../fonts/DMMono-Light.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
            --hell: #EEE6F3;
          --akzent: #9C38EB;
            --back: #B986E1;
            --font: #14061F;
       --font-hell: #320E4E;
       --box-shadow: 2px 6px 23px 3px var(--font-hell);
}
main{
    height: 975px;
    width: 100%;
    background-color: var(--hell);
    margin-top: 110px;
    display: flex;
    flex-direction: column;
}
.contact-box1{
    flex-basis: 300px;
    flex-grow: 1;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
.contact-box2{
    height: 600px;
    display: flex;
    justify-content: space-around;
    gap: 0px 10px;
    flex-wrap: wrap;
    padding: 10px;
}
.adress{
    height: 300px;
    flex-basis: 300px;
    flex-grow: 1;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
#map{
    margin: 0 auto;
    margin-top: 20px;  
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}
@media(min-width: 641px){
    #map{
        margin-top: 0px;
    }
    main{
        height: 650px;
    }
}