@font-face{
    font-family: 'Great Vibes';
    src: local('GreatVibes'), url('../fonts/GreatVibes-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'DMMono-Light';
    src: url('../fonts/DMMono-Light.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
            --hell: #EEE6F3;
          --akzent: #9C38EB;
            --back: #B986E1;
            --font: #14061F;
       --font-hell: #320E4E;
       --box-shadow: 2px 6px 23px 3px var(--font-hell);
}
main{
    height: 600px;
    width: 100%;
    margin-top: 130px;
    background-color: var(--hell);
}
form{
    color: var(--font);
    display: block;
    justify-content: center;
    padding: 5px;
}
.data-box{
    height: 80%;
    width: 70%;
    margin: 0 auto;
}
#name, #tel, #text, #text2, #text3, #checkbox,#text-lang{
    padding: 5px;
    width: 234px;
    border-radius: 5px;
    border: 1px var(--akzent) solid;
}
#name, #tel, #text, #text2, #text3, #checkbox:hover{
    box-shadow: 1px 1px 1px 1px var(--back);
}
button{
    margin-top: 10px;
    height: 45px;
    width: 130px;
    border-radius: 1000px;
    color: var(--hell);
    background: linear-gradient(var(--akzent), var(--back));
    border: 1px var(--font-hell) solid;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px var(--back);
}
button:hover{
    box-shadow: var(--box-shadow);
    scale: 1.05;
}

button:focus{
    outline: none;
}