@font-face{
    font-family: 'Great Vibes';
    src: local('GreatVibes'), url('../fonts/GreatVibes-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'DMMono-Light';
    src: url('../fonts/DMMono-Light.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
            --hell: #EEE6F3;
          --akzent: #9C38EB;
            --back: #B986E1;
            --font: #14061F;
       --font-hell: #320E4E;
       --box-shadow: 2px 6px 23px 3px var(--font-hell);
}
main{
    height: 500px;
    width: 100%;
    margin-top: 130px;
    background-color: var(--hell);
}
form{
    color: var(--font);
}
[placeholder]{
    color: var(--akzent);
    background-color: ;
}
input{
    color: #9C38EB;
}
