@font-face{
    font-family: 'Great Vibes';
    src: local('GreatVibes'), url('../fonts/GreatVibes-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'DMMono-Light';
    src: url('../fonts/DMMono-Light.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
            --hell: #EEE6F3;
          --akzent: #9C38EB;
            --back: #B986E1;
            --font: #14061F;
       --font-hell: #320E4E;
       --box-shadow: 2px 6px 23px 3px var(--font-hell);
}
header{
    height: 100px;
    width: 100vw;
    background-color: var(--hell);
    border-radius: 20px;
    /* box-shadow: 2px 2px 4px -1px var(--font-hell),2px 2px 2px var(--akzent); */
    /* box-shadow: 2px 6px 23px 3px var(--font-hell); */
    box-shadow: var(--box-shadow);
    border: var(--aczent) 1px solid;
    margin: 4px;
    margin-right: 4px;

    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.header-in{
    height: 100px;
    max-width: 100%;
    background-color: var(--hell);
    border-radius: 20px;
/*     border: 1px red solid; */
}
.calender{
    height: 40px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 5px;
    margin-top: 25px;
}
.calander-blatt{
    height: 20px;
    width: 85%;
    background-color: var(--hell);
    position: relative;
    border: 3px solid;
    border-color: var(--akzent);
    border-radius: 15%;
    box-shadow: 5px 5px 5px -1px var(--back);
}
h3{
    text-align: center;
    margin: 1px;
    color: var(--back);
    text-shadow: 1px 1px var(--akzent);
}
.links, .rechts{
    height: 6px;
    width: 4px;
    background-color: var(--hell);
    position: absolute;
    top: -7px;
    border: 3px solid;
    border-color: var(--akzent);
    border-radius: 30%; 
    box-shadow: 2px 2px 2px -1px var(--back);
}
.rechts{
    left: 13px;
}
.links{
    left: 1px; 
}
nav ul{
    list-style-type: none; 
}
nav{
    display: none;
}
nav ul li{
    background-color: #EEE6F3;
    height: 40px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    padding-top: 15px;
}
nav ul li a{
    text-decoration: none;    
    font-size: 1.2rem;
    position: relative;
}
nav ul li a:hover{
    text-shadow: 1px 1px 2px;
}
nav ul li a::after{
    content: '';
    display: block;
    height: 3px;
    width: 3px;
    background-color: #9C38EB;
    transition: all 1.5s ease-in-out;
    border-radius: 50%;
    margin-left: 20px;
}
nav ul li a::before{
    content: '';
    display: block;
    height: 3px;
    width: 3px;
    background-color: var(--back);
    transition: all 1.5s ease-in-out;
    border-radius: 50%;
    margin-left: 170px;
}
a:hover::after{
    width: 200px;
    border-radius: 0%;
    margin-left: 0px;
}
a:hover::before{
    width: 200px;
    border-radius: 0%;
    margin-left: 0px;
}
#nav-button:checked ~ nav{
    /* display: none; */
    display: block;
    position: absolute;
    top: 105px;
    right: 0px;
    z-index: 2;
}
.logo-container{
    height: 100px;
    /* background-color:palegreen; */
    /* border: 1px red solid; */
}
.animations-box{
    background-color: var(--hell);
    height: 80px;
    width: 200px;
    margin: 10px;
    position: relative;
    /* border: 1px red solid; */
    border-radius: 10px;
    overflow: hidden;
}
.boxcheck::after{
    content: '';
    height: 80px;
    width: 80px;
    background-color: #9C38EB;
}
.animation-box span{
    position: absolute;
    inset: 5px;
    background: black;
    z-index: 1;
}
.inset{
    
    position: absolute;
    inset: 2px;
    background: var(--hell);
    z-index: 1;
    border-radius: 10px;
}
h1{
    position: relative;
    z-index: 1;
    font-weight: 100;
    padding-left: 10px;
    padding-top: 2px;
    text-decoration: underline;
    text-decoration-color: var(--font-hell);
    font-family: 'Great Vibes', cursive;
    font-size: 1.9rem;
}
.animations-box::before{
    content: '';
    height: 80px;
    width: 200px;
    background-image: conic-gradient(transparent,transparent,transparent,var(--akzent));
    position: absolute;
    transform: translate(50%, 50%);
    animation: animate 6s linear infinite;
    scale: 4;
}
.animations-box::after{
    content: '';
    height: 80px;
    width: 200px;
    background-image: conic-gradient(transparent,transparent,transparent,var(--akzent));
    position: absolute;
    animation: animate 6s linear infinite ;
    animation-delay: -2s;
    scale: 4;
    animation-fill-mode: forwards;   
}
@keyframes animate{
    0%{   
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg); 
    }
}

.burger-container{
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-left: 10px;
}
.burger-menu{
    background-color: #14061F;
    height: 4px;
    width: 40px;
    padding-top: 5px;
    border-radius: 20px;
    box-shadow: 1px 2px 4px var(--back);
}
.burger-menu-weiß{
    background-color: var(--hell);
    height: 1px;
    width: 0%;
    padding-top: 5px;
}