/* @import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Great+Vibes&display=swap'); */
@font-face{
    font-family: 'Great Vibes';
    src: local('GreatVibes'), url('../fonts/GreatVibes-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'DMMono-Light';
    src: url('../fonts/DMMono-Light.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
            --hell: #EEE6F3;
          --akzent: #9C38EB;
            --back: #B986E1;
            --font: #14061F;
       --font-hell: #320E4E;
       --box-shadow: 2px 6px 23px 3px var(--font-hell);
}
/* font-family: 'DM Mono', monospace; */
body{
    /* background: linear-gradient(180deg, rgba(20,6,31,0.7020648967551623) 0%, rgba(50,14,78,1) 172%, rgba(255,255,255,1) 177%, rgba(255,255,255,1) 195%); */
    color: var(--font);
    background-color: var(--hell);
}
a{
    font-family: 'Great Vibes', cursive;
}

.burger-container{
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-left: 10px;
}
.burger-menu{
    background-color: #14061F;
    height: 4px;
    width: 40px;
    padding-top: 5px;
    border-radius: 20px;
    box-shadow: 1px 2px 4px var(--back);
}
.burger-menu-weiß{
    background-color: var(--hell);
    height: 1px;
    width: 0%;
    padding-top: 5px;
}
main{
    background-color: var(--hell);
    margin-top: 110px;
}
.praxis-pic{
    height: 300px;
    width: 100%;
    background-image: 
        /* linear-gradient(180deg, rgba(238,230,243,0.5886729691876751) 16%, rgba(20,6,31,1) 172%), */
        linear-gradient(180deg, rgba(238,230,243,0.5886729691876751) 16%, rgba(50,14,78,0.8743872549019608) 172%),
        url(/pics/praxis2.jpg);
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: var(--box-shadow);
    /* border-radius: 5px; */
    
    display: flex;
    justify-content: start;
    align-items: flex-end;
    position: relative;
    padding-bottom: 50px;
    
}
/* .praxis-pic::before{
    content: '';
    height: 400px;
    max-width: 95%;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
} */
h2{
    color: var(--hell);
    text-shadow: 1px 1px 4px #320E4E;
}
p{
    color: #EEE6F3;
    text-shadow: 1px 1px 4px #320E4E;
}
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-shadow: 1px 1px #320E4E;
    /* border: 1px red solid; */
    min-width: 200px;
    margin-right: 250px;
    padding-left: 40px;
}
.praxis-pic::after{
    content: '';
    height: 200px;
    width: 200px;
    background-image: url(/pics/Team/ChefincutPNG.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: #9C38EB; */
    position: absolute;
    z-index: 0;
    bottom:1px;
    right: 10px;
}
/* .pic-in-pic{
    background: red;
    padding: 0;
    margin: 0;
    height: 20px;
    width: 20px;
} */

.box-artikel{
    background-color: var(--hell);
    height: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    padding: 10px;
    padding-bottom: 20px;
    max-width: 96%;
    margin-bottom: 10px;
}
.artikel1, .artikel2, .artikel3{
    height: 400px;
    width: 95%;
    background-color: #EEE6F3;
    border-radius: 20px;
    /* box-shadow: 5px 5px 17px 4px var(--font-hell); */
    box-shadow: var(--box-shadow);
    padding: 8px;
    cursor: pointer;
}
.artikel1 p{
    color: var(--font);
}
.massagen {
    background-image: url(/pics/Gesundheit/Leistung004.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 95%;
    /* border-radius: 10px; */
    box-shadow: inset 2px -9px 10px 40px #EEE6F3;
    display: flex;
    align-items: flex-end;
}
.ultraschall{
    background-image: url(/pics/Gesundheit/Leistung004.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 95%;
    /* border-radius: 10px; */
    box-shadow: inset 2px -9px 10px 40px #EEE6F3;
    display: flex;
    align-items: flex-end;
}
.krankengymnastik{
    background-image: url(/pics/Gesundheit/Leistung009.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 95%;
    /* border-radius: 10px; */
    box-shadow: inset 2px -9px 10px 40px #EEE6F3;
    display: flex;
    align-items: flex-end;
}
h4{
    display: block;
    margin-bottom: 35px;
    margin-left: 15px;
    font-size: 3rem;
    color: var(--hell);
    text-shadow: 2px 2px 3px var(--font-hell);
}
#image0_117_613{
    transform: scale(1.5);
    background: #EEE6F3;
    fill: #EEE6F3;
}
.span-box{
    display: inline-block;
    height: 10px;
    width: 10px;
}
